.entrada{
    background-color: #fdaa4b;
    padding: 100px;
    border: solid 10px #fcb565;
    border-radius:50px ;
    border-style:outset;
}

@media (max-width:768px ) {
    .entrada{
        background-color: #fdaa4b;
        padding: 50px;
        border: solid 10px #fcb565;
        border-radius:50px ;
        border-style:outset;
    }
}